@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
	--color-black: #1C2A39;
	--color-grey: #5C6A79;
	--color-fioletowy: #534FD2;
	--color-fioletowy-lekki: #9E98DC;
	--color-rozowy: #FF8FE6;
	--color-fioletowy-button: #4C3DB2;

}



* {
	margin: 0;
	padding:  0;
}


*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}


body {
	width: 100%;
	height: 100%;
	font-weight: 400;
	color: var(--color-grey);
	font-family: 'Montserrat', san-serif;
}


header {
	min-height: 100vh;
	
}

.container {
	padding: 0 11.6rem;
	overflow: hidden;
	padding-bottom: 10rem;
}


.menu {
	display: flex;
	height: 116px;
	justify-content: space-between;
	align-items: center;
}

.menu a {
	text-decoration: none;
	color: var(--color-grey);

}

.main-nav {
	display: flex;
	justify-content: space-between;
	
}

.main-nav a {
	margin-right: 4rem;
	font-size: 1rem;
	text-transform: uppercase;
}

.main-nav a:first-child {
	font-weight: 900;
	color: var(--color-black);

}

.main-nav a:last-child {
	margin-right: 0;
}

.buttons a {
	margin-right: 3rem;
}

.buttons a:last-child {
	margin-right: 0;
}

.logo a {
	font-size: 2.4rem;
	font-weight: bold;
	color: var(--color-black);


}

.banner {
	position: relative;
	background-image: url(img/bg1.png);
	/*height: 90vh;*/
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 21px rgb(92 106 121 / 10%);
	width: 100%;
}	

.ilustration {
	width: 100%;
    height: 100%;
    background-image: url(img/illustration.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: bottom;
    background-position-y: 90%;
}

.summer-sale{
	position: absolute;
	top:10%;
	left:50%;
	transform: translate(-50%,-50%);
}

.summer-sale h1 {
	font-size: 2.5rem;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--color-black);
}

.promo{
	color: #fff;
	display: flex;
	justify-content: center;
	/*align-items: */
	align-items: baseline;
	position: absolute;
    top: 10%;
    left: 45%;
    transform: translate(-50%, 5%);
}

.item {
	margin-right: 1rem;
}

.item:last-child{
	margin-right: 0;
}

.item {
	position: relative;
	font-size:18.2rem;
	font-weight: 900;
}

.item strong {
	position: absolute;
	left: 4%;
	top: 5%;
	font-weight: 900;
	color: var(--color-fioletowy);
	z-index: -1;
}

.up {
	font-size: 6rem;
	font-weight: bold;
	align-self: flex-start;
}

.up strong {
	left: 4%;
    top: 6.5%;
    font-weight: bold;
}

.procent {
	font-size: 6rem;
	font-weight: 600;
}

.procent strong {
	left: 8%;
    top: 5%;
    font-weight: 600;
}

.old-book {
	background-color: var(--color-fioletowy-lekki);
	display: flex;
	position: absolute;
	width: 20%;
	height: 30%;
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--color-black);
	justify-content: center;
    align-items: flex-end;
    top: 9%;
    right: -10%;
    box-shadow: 0px 24px 36px rgb(92 106 121 / 28%);
}

.napisy {
	padding-bottom: 2rem;
	text-transform: uppercase;
}

.top {
	background-color: var(--color-rozowy);
	display: flex;
	position: absolute;
	width: 20%;
	height: 35%;
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--color-black);
	justify-content: flex-start;
    align-items: flex-end;
    top: 60%;
    right: -23%;
    box-shadow: 0px 24px 36px rgb(92 106 121 / 28%);
}

.top .napisy {
	margin-left: 1rem;
}

main {
	width: 100%;
	position: relative;
	height: 100%;
}

.lista {

	display: inline-block;
}

.active {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1.5rem;
}

.active li {
	margin-bottom: 0 !important;
	margin-left: 1rem;
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--color-black);
}

.lista li {
	list-style: none;
	margin-bottom: 1.5rem;
}

.lista li:last-child {
	margin-bottom: 3rem;
}

.categories {
	z-index: -1;
	position: absolute;
	top:0;
	width: 35%;
	background-color: #EFEEF6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rows {
	/*position: absolute;
	top: 7%;*/
	/*margin-left: 11.6rem;*/
	margin-left: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}



.box {
	display: flex;
	/*flex-wrap: wrap;*/
	flex: 0 0 35%;
	margin: 3rem;
}

.content .name p {
	font-size: 1rem;
}

.photo  {
	display: block;
	position: relative;
	left: -1.5rem;
	margin-right: 2rem;
}

/*.photo img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}*/

.responsive {
  /*width: 100%;
  max-width: 172px;*/
  height: auto;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;

}

.content {
	max-width: 176px;
}

.content h3 {
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--color-black);
}

.rating {
	margin-bottom: 1.6rem;
}

.text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-grey);
	text-transform: capitalize;
	margin-bottom: 1rem;
}

.cena {
	display: flex;
	margin-bottom: 1rem;
	align-items: center;

}

.cena-prawdziwa span {
	margin-right: 0.5rem;
	font-weight: 600;
	font-size: 1.3rem;
	color: var(--color-black);
}

.cena-zamazana span {
	font-size: 1.3rem;
	font-weight: 400;
	color: #BDBDBD;
}

.content button {
	width: 100%;
	height: 4.5rem;
	border: 1px solid var(--color-fioletowy-button);
	color: var(--color-fioletowy-button);
	background-color: #fff;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
}


.down {
	height: 16px;
	width: 23px;
}

.drop-down-menu {
	display: none;
	margin-left: 5%;
	cursor: pointer;
}

.hidden {
	display: none;
}





@media (max-width: 1275px) {
	.box { 
		/*flex-wrap: wrap !important;*/
		flex: 0 0 35%;
	 }

	 .responsive {
	 	height: auto;
    /* width: 20%; */
    /*width: 100%;*/
    max-width: 172px;
	 }

	 .rows {
	 	margin-left: 25%;
	 	justify-content: space-evenly;
	 }

}

@media (max-width: 1100px) {
	.rows {
		margin: 0;
	}

	.categories {
		display: none;
	}

	.drop-down-menu {
		display: block;
	}

	.photo{ 
		margin-right: 0;
 }
}

@media (max-width: 800px) {
	.box {
		flex-wrap: wrap !important;
	}

	.photo {
		position: unset;
		left: 0;
		margin-bottom: 1rem;

	}
}








